.item {
  position: relative;
  & .badge {
    position: absolute;
    left: 66px;
    top: 30px;
  }
}

.avatar {
  margin: 0 20px;
}
.time {
  font-size: 25px;
}
.message {
  position: relative;
  background-color: white;
  border-radius: 10px;
  max-width: 500px;
  padding: 20px;
  margin-left: 15px;
  font-size: 30px;
  &:before {
    content: "";
    width: 0;
    height: 0;
    border-bottom: 16px solid transparent;
    border-right: 16px solid white;
    border-top: 16px solid transparent;
    position: absolute;
    top: 25px;
    left: -13px;
    z-index: 2;
  }
}

.messageme {
  position: relative;
  border-radius: 10px;
  max-width: 500px;
  padding: 20px;
  margin-right: 15px;
  font-size: 30px;
  background-color: #9fe759;
  word-wrap: normal !important;
  &:after {
    content: "";
    width: 0;
    height: 0;
    border-bottom: 16px solid transparent;
    border-left: 16px solid #9fe759;
    border-top: 16px solid transparent;
    position: absolute;
    top: 25px;
    right: -13px;
    z-index: 999;
  }
}
.pushmessage {
  font-size: 25px;
  color: #f97b43;
  border-radius: 5px;
  border: 1px solid;
  margin-top: 20px;
  text-align: center;
  width: 120px;
}

.bottomview {
  width: 100%;
  background: white;
}
.inputview {
  width: 710px;
  margin: auto;
}
.curtainimg {
  width: 100%;
  margin: 20px 0px;
}
