.headderbox {
  width: 710px;
  height: 400px;
  margin: auto;
  position: relative;
  // background: url(https://djcdn.baicaiyun.com/carte_bg.jpg) no-repeat center
  //   center;
  // background-size: 100% 100%;
  background: #f0f1f5;
  display: flex;
  align-items: center;
  border-radius: 20px;
  margin-top: -150px;
}
.headercontent {
  width: 630px;
  margin: auto;
  & .name {
    font-weight: bold;
    font-size: 40px;
    line-height: 2;
  }
  & .career {
    font-size: 28px;
    line-height: 1.5;
  }
  & .info {
    font-size: 25px;
    line-height: 2;
  }
}

.headerimg {
  width: 710px;
  height: 400px;
}
.editheaderimg {
  width: 710px;
  height: 400px;
  margin-left: 20px;
}
.inputpicker {
  // height: 80px;
  display: flex;
  padding: 24px 0;

  & .left {
    width: 172px;
    font-size: 32px;
    margin-right: 16px;
  }

  & .right {
    font-size: 32px;
  }

  & .default {
    color: #ccc;
  }

  & .select {
    color: black;
  }
}

.button {
  width: 710px;
  margin: auto;
}
.headerboxbottom {
  width: 750px;
  font-size: 25px;
  height: 80px;
  align-items: center;
}

.paneltitle {
  position: relative;
  line-height: 2.5;
  padding-left: 20px;
  color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 35px;

  & .extra {
    margin-right: 20px;
    font-size: 30px;
    font-weight: normal;
  }
}
.userinfoedit {
  margin-right: 45px;
  font-size: 30px;
  font-weight: normal;
}

.userdesc {
  font-size: 28px;
  padding: 20px;
}
.content-min-height {
  min-height: 100px;
}
.fixbottom {
  position: fixed;
  bottom: 0px;
  width: 100%;
  color: white;
  padding: 20px;
}
