.button {
  color: blue;
}

.home_header_bg {
  height: 180px;
}

.home_header_container {
  width: 700px;
  margin: auto;
  border-radius: 10px;
  overflow: hidden;
  margin-top: -100px;

  & .header {
    padding: 5px 0;
    height: 150px;
    align-items: center;

    & .number {
      font-size: 40px;
    }
  }

  & .footer {
    height: 100px;
    align-items: center;
    background-color: #f0f9ff;

    .line {
      border-right: solid 1px;
    }
  }
}
.border-radius {
  border-radius: 50%;
}
.home_card_container {
  margin: 20px auto auto;
  width: 700px;
  height: 180px;
  align-items: center;
  border-radius: 5px;

  & .icon {
    height: 100px;
    width: 100px;
    margin: 0 20px;
  }

  & .title {
  }

  & .desc {
    margin-bottom: 10px;
    font-size: 22px;
  }

  & .right {
    margin-right: 20px;
  }
}
.fontbig {
  font-size: 33px;
}
.user_list_item {
  height: 100px;
  align-items: center;

  & .icon {
    margin-left: 20px;
  }

  & .right {
    margin-right: 20px;
  }
}
.curtainimg {
  width: 400px;
  margin: 20px 0px;
}
.badge {
  background-color: red;
  border-radius: 20px;
  color: white;
  font-size: 22px;
  max-height: 40px;
  min-height: 40px;
  max-width: 40px;
  min-width: 40px;
  align-items: center;
  justify-content: center;
  display: flex;
}
