$APP_COLOR: #6190e8;
$APP_BG: #f0f1f5;

body,
html {
	margin: 0;
	padding: 0;
};

page {
	height: 100%;
	background-color: $APP_BG;
}

.baseview {
	height: 100%;
	min-height: 200px;
}

.fullheight {
	height: 100%;
}

.app_bg {
	background-color: $APP_BG;
}

.app_color_text {
	color: $APP_COLOR;
}

.app_color_bg {
	color: $APP_COLOR;
}

.test {
	height: 100px;
}